<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cordova.TypeScript.DefinitelyTyped" version="0.8.2" targetFramework="win" />
  <package id="jQuery" version="2.1.1" targetFramework="MDD80" />
  <package id="jquery.mobile" version="1.4.2" targetFramework="MDD80" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.4.1" targetFramework="MDD80" />
  <package id="jquerymobile.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="MDD80" />
  <package id="zepto.js" version="0.8" targetFramework="MDD80" />
  <package id="zepto.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="MDD80" />
</packages>